<div class="container">
  <h2>Password Game</h2>

  <div class="pass-field">
    <input
      [type]="showPassword ? 'text' : 'password'"
      [formControl]="password"
      (input)="updateConditions()"
      placeholder="Please chose a password"
      class="pass-field"
    />
    <i [class]="eyeIcon" (click)="updateIconAndMode()"></i>
  </div>

  <div class="content" *ngIf="password.dirty || password.touched">
    <p *ngIf="currentInvalidCondition" style="color: red" [@conditionList]>
      <i class="fa-solid fa-circle-xmark"></i>
      {{ currentInvalidCondition.text }}
    </p>
    <p *ngIf="!currentInvalidCondition" style="color: green" [@conditionList]>
      <i class="fa-solid fa-circle-check"></i> All conditions met!
    </p>
  </div>

  <ul class="content">
    <p
      *ngFor="let cond of passedConditions"
      style="color: green"
      [@conditionList]
    >
      <i class="fa-solid fa-circle-check"></i> {{ cond.text }}
    </p>
  </ul>
</div>
